<a href="https://colab.research.google.com/github/Adeelzafar/NLP-Course/blob/main/Multi_Label_Text_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multi-Label Text Classification

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.model_selection import train_test_split

from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC

from sklearn.multiclass import OneVsRestClassifier

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/laxmimerit/All-CSV-ML-Data-Files-Download/master/stackoverflow.csv', index_col=0)

In [ ]:
df.head()

                                                Text                Tags
2  aspnet site maps has anyone got experience cre...  ['sql', 'asp.net']
4  adding scripting functionality to net applicat...      ['c#', '.net']
5  should i use nested classes in this case i am ...             ['c++']
6  homegrown consumption of web services i have b...            ['.net']
8  automatically update version number i would li...              ['c#']

In [ ]:
type(df['Tags'].iloc[0])

str

In [ ]:
import ast

In [ ]:
df['Tags'].iloc[0]

"['sql', 'asp.net']"

In [ ]:
ast.literal_eval(df['Tags'].iloc[0])

['sql', 'asp.net']

In [ ]:
df['Tags'] = df['Tags'].apply(lambda x: ast.literal_eval(x))

In [ ]:
df.head()

                                                Text            Tags
2  aspnet site maps has anyone got experience cre...  [sql, asp.net]
4  adding scripting functionality to net applicat...      [c#, .net]
5  should i use nested classes in this case i am ...           [c++]
6  homegrown consumption of web services i have b...          [.net]
8  automatically update version number i would li...            [c#]

In [ ]:
y = df['Tags']
y

2          [sql, asp.net]
4              [c#, .net]
5                   [c++]
6                  [.net]
8                    [c#]
                ...
1262668             [c++]
1262834             [c++]
1262915          [python]
1263065          [python]
1263454             [c++]
Name: Tags, Length: 48976, dtype: object

In [ ]:
multilabel = MultiLabelBinarizer()

In [ ]:
y = multilabel.fit_transform(df['Tags'])

In [ ]:
y

array([[0, 0, 1, ..., 0, 0, 1],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
multilabel.classes_

array(['.net', 'android', 'asp.net', 'c', 'c#', 'c++', 'css', 'html',
       'ios', 'iphone', 'java', 'javascript', 'jquery', 'mysql',
       'objective-c', 'php', 'python', 'ruby', 'ruby-on-rails', 'sql'],
      dtype=object)

In [ ]:
pd.DataFrame(y, columns=multilabel.classes_)

       .net  android  asp.net  c  c#  ...  php  python  ruby  ruby-on-rails  sql
0         0        0        1  0   0  ...    0       0     0              0    1
1         1        0        0  0   1  ...    0       0     0              0    0
2         0        0        0  0   0  ...    0       0     0              0    0
3         1        0        0  0   0  ...    0       0     0              0    0
4         0        0        0  0   1  ...    0       0     0              0    0
...     ...      ...      ... ..  ..  ...  ...     ...   ...            ...  ...
48971     0        0        0  0   0  ...    0       0     0              0    0
48972     0        0        0  0   0  ...    0       0     0              0    0
48973     0        0        0  0   0  ...    0       1     0              0    0
48974     0        0        0  0   0  ...    0       1     0              0    0
48975     0        0        0  0   0  ...    0       0     0              0    0

[48976 rows x 20 columns]

In [ ]:
# lets say you have -> l,e,t,s, ,

In [ ]:
tfidf = TfidfVectorizer(analyzer='word', max_features=10000, ngram_range=(1,3), stop_words='english')
X = tfidf.fit_transform(df['Text'])

In [ ]:
X

<48976x10000 sparse matrix of type '<class 'numpy.float64'>'
	with 2002390 stored elements in Compressed Sparse Row format>

In [ ]:
# tfidf.vocabulary_

In [ ]:
X.shape, y.shape

((48976, 10000), (48976, 20))

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Build Model

In [ ]:
sgd = SGDClassifier()
lr = LogisticRegression(solver='lbfgs')
svc = LinearSVC()

In [ ]:
def j_score(y_true, y_pred):
  jaccard = np.minimum(y_true, y_pred).sum(axis = 1)/np.maximum(y_true, y_pred).sum(axis = 1)
  return jaccard.mean()*100


def print_score(y_pred, clf):
  print("Clf: ", clf.__class__.__name__)
  print('Jacard score: {}'.format(j_score(y_test, y_pred)))
  print('----')

In [ ]:
for classifier in [LinearSVC(C=1.5, penalty = 'l1', dual=False)]:
  clf = OneVsRestClassifier(classifier)
  clf.fit(X_train, y_train)
  y_pred = clf.predict(X_test)
  print_score(y_pred, classifier)

Clf:  LinearSVC
Jacard score: 63.876071866067775
----

In [ ]:
for classifier in [sgd, lr, svc]:
  clf = OneVsRestClassifier(classifier)
  clf.fit(X_train, y_train)
  y_pred = clf.predict(X_test)
  print_score(y_pred, classifier)

Clf:  SGDClassifier
Jacard score: 34.787158023683126
----

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Clf:  LogisticRegression
Jacard score: 40.385531509459646
----
Clf:  LinearSVC
Jacard score: 58.86399210562136
----

## Model Test with Real Data

In [ ]:
x = [ 'how to write ml code in python and java i have data but do not know how to do it']

In [ ]:
xt = tfidf.transform(x)

In [ ]:
clf.predict(xt)

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0]])

In [ ]:
multilabel.inverse_transform(clf.predict(xt))

[('java', 'python')]